{% extends 'app/base.html' %}

{% block contenido %}

<h1>Modificar Perfil Staff</h1>

<form method="post" class="formModificarStaff">
    {% csrf_token %}
    
    {{ profile_form.as_p }}
    
    <div class="form-group">
        <label for="grupo">Asignar Grupo:</label>
        <select name="grupo" id="grupo" class="form-control">
        
            {% for grupo in grupos %}
                <option class="optionClass" value="{{ grupo.id }}" {% if grupo_actual and grupo_actual.id == grupo.id %}selected{% endif %}>
                    {{ grupo.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
{% endblock %}