<!-- password_success.html -->

{% extends 'app/base.html' %}

{% block contenido %}
<div class="modal fade show" id="passwordSuccessModal" tabindex="-1" role="dialog" aria-labelledby="passwordSuccessModalLabel" aria-hidden="true" style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordSuccessModalLabel">Cambio de Contraseña Exitoso</h5>
      </div>
      <div class="modal-body">
        Tu contraseña ha sido cambiada correctamente.
      </div>
      <div class="modal-footer">
        <a href="{% url 'home' %}" class="btn btn-primary">Volver al Inicio</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
