{% extends 'app/base.html' %}
{% load custom_filters %}

{% block contenido %}

<h1>Detalle del Producto en Entrada de Bodega</h1>

<div class="mb-4">
    <h4>Información de la Entrada</h4>
    <ul>
        <li><strong>Número de Factura:</strong> {{ entrada.numero_factura }}</li>
        <li><strong>Proveedor:</strong> {{ entrada.proveedor.nombre }}</li>
        <li><strong>Fecha de Recepción:</strong> {{ entrada.fecha_recepcion }}</li>
        <li><strong>Forma de Pago:</strong> {{ entrada.get_forma_pago_display }}</li>
    </ul>
</div>

<div class="mb-4">
    <h4>Información del Producto</h4>
    <ul>
        <li><strong>Producto:</strong> {{ producto_entrada.producto.nombre }}</li>
        <li><strong>Cantidad Recibida:</strong> {{ producto_entrada.cantidad_recibida }}</li>
        <li><strong>Precio Total:</strong> ${{ producto_entrada.precio_total }}</li>
        <li><strong>Subtotal:</strong> ${{ producto_entrada.cantidad_recibida|multiply:producto_entrada.precio_total }}</li>
    </ul>
</div>



<a href="{% url 'detalle_entrada_bodega' entrada.id %}" class="btn btn-primary">Volver al Detalle de la Entrada</a>
<a href="{% url 'listar_entradas_bodega' %}" class="btn btn-secondary">Volver a la Lista de Entradas</a>

{% endblock %}
