{% extends 'app/base.html' %}
{% block contenido %}
<div class="tituloh1 mb-4">
<h2>Modificar Perfil de Administrador</h2>
</div>
<form method="post" class="formModProfile">
    {% csrf_token %}
    {{ profile_form.as_p }}
    <div class="form-group">
        <label for="grupo">Asignar Grupo:</label>
        <select name="grupo" id="grupo" class="form-control miselect">
         
            {% for grupo in grupos %}
                <option class="optionClass" value="{{ grupo.id }}" {% if grupo_actual and grupo_actual.id == grupo.id %}selected{% endif %}>
                    {{ grupo.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>

{% endblock %}
