{% extends 'app/base.html' %}
{% block contenido %}
{% load static %}
{% load custom_filters %}

<h2 class="text-center">Métricas del Negocio</h2>

<div class="container mt-4">
    <div class="row">
        <!-- Métricas Generales -->
        <div class="col-md-6">
            <h3 class="text-primary">Datos Generales</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Métrica</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total de Ventas</td>
                        <td>{{ total_compras|clp }}</td>
                    </tr>
                    <tr>
                        <td>Ventas del dia</td>
                        <td>{{ venta_diaria|clp }}</td>
                    </tr>
                    <tr>
                        <td>Producto Más Vendido</td>
                        <td>
                            {% if producto_mas_comprado %}
                                {{ producto_mas_comprado.producto__nombre }} 
                                ({{ producto_mas_comprado.total_cantidad }} unidades)
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Producto Menos Vendido</td>
                        <td>
                            {% if producto_menos_comprado %}
                                {{ producto_menos_comprado.producto__nombre }} 
                                ({{ producto_menos_comprado.total_cantidad }} unidades)
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Margen de Ventas</td>
                        <td>{{ margen_ventas|clp }}</td>
                    </tr>
                    <tr>
                        <td>Porcentaje del Margen</td>
                        <td>{{ porcentaje_margen|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Compras por Tipo de Documento -->
        <div class="col-md-6">
            <h3 class="text-primary">Compras por Tipo de Documento</h3>
            <ul class="list-group">
                {% for tipo in compras_por_tipo_documento %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ tipo.tipo_documento|title }}:
                        <span>
                            {{ tipo.cantidad }} compras 
                            ({{ tipo.porcentaje|floatformat:2 }}%)
                        </span>
                    </li>
                {% endfor %}
            </ul>

            <h3 class="text-primary mt-4">Compras por Método de Pago</h3>
            <ul class="list-group">
                {% for metodo in compras_por_metodo_pago %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ metodo.medio_pago|title }}:
                        <span>
                            {{ metodo.cantidad }} compras 
                            ({{ metodo.porcentaje|floatformat:2 }}%)
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Gráficos -->
    <div class="row mt-5">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="chart-container" style="width: 100%; max-width: 500px; height: 400px;">
                <h3>Compras por Mes</h3>
                <img src="data:image/png;base64,{{ grafico_barras }}" alt="Gráfico de Compras por Mes" style="max-width: 100%; height: auto;">
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="chart-container" style="width: 100%; max-width: 500px; height: 400px;">
                <h3>Compras Diarias</h3>
                <img src="data:image/png;base64,{{ grafico_linea }}" alt="Gráfico de Compras Diarias" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>

{% endblock %}
