{% block contenido %}
<!-- formulario de agregar categoría -->
{% include 'categorias/add_categoria.html' %}


<!-- Lista de categorías -->
<h2>Categorías Registradas</h2>
<div class="table-container">
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td data-label="Nombre">{{ categoria.nombre }}</td>
            <td data-label="Acciones">
                <a href="{% url 'mod_categoria' categoria.id %}" class="btn btn-warning">Modificar</a>
                <a href="{% url 'erase_categoria' categoria.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
