.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 
                                14%, rgba(0,0,0,1)  
                                28%, rgba(20,153,163,1) 
                                51%, rgba(0,0,0,1) 
                                77%, rgba(0,0,0,1) 91%);
    z-index: 1030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    -webkit-box-shadow: -1px 7px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 7px 5px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 7px 5px -3px rgba(0,0,0,0.75);
}

.navbar-logo {
    text-decoration: none;
    font-size: 1.55rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    flex-grow: 1; 
    text-align: center;
    transform: translateX(80px);
    
}

.logoLogin{
    width: 50px;
    transform: translateX(12px);
    border-radius: 50%;
    border: 3px solid #1499a3;
    transition: all ease 1s;
  
}
.logoLogin:hover{
    transform: scale(1)
}
.navbar-user {
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.app-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.app-nav li {
    margin-left: 15px;
}

.app-search__input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

.app-search__button {
    background-color: transparent;
    border: none;
    color: white;
}

.app-nav__item {
    color: white;
    font-size: 1.25rem;
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu {
    background-color: white;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}

.navbar-side {
    width: 60px;
    background-color: #111;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: width 0.3s ease;
    z-index: 1020;
    border-right: 8px solid #1499a3;
    overflow-y: auto;
}

@media screen and (min-width: 601px) {
    .navbar-side:hover {
        width: 250px; 
    }

    .navbar-side:hover a .sidebar-text {
        opacity: 1;
    }

    .navbar-side:hover ~ .main-content {
        margin-left: 250px;
    }

    .sidebar-toggle {
        display: none; 
    }
}

.navbar-side a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.navbar-side a i {
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.navbar-side a:hover {
    background-color: #1499a3;
    width: 260px;
    /* padding-right: 190px; */
    border: 4px solid #d4cac8;
    transform: scale(1.1);
    transition: background-color 1.2s ease;
}

.navbar-side a .sidebar-text {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: none;
}

.navbar-side.show a .sidebar-text {
    opacity: 1;
}

.sidebar-logo {
    margin-top: auto;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 15px;
}

.sidebar-toggle {
    padding: 0 15px;
    font-family: fontAwesome;
    color: #fff;
    line-height: 2.4;
    font-size: 21px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none; 
    transition: background-color 0.3s ease;
}

.sidebar-toggle:hover {
    color: #fff;
    background-color: #00635a;
}

.main-content {
    margin-left: 60px; 
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease; 
    margin-top: 60px;
}

.navbar-side.show ~ .main-content {
    margin-left: 250px; 
}

@media (max-width: 767px) {
    .sidebar-toggle {
        display: block; 
        position: fixed;
        top: 15px;
        left: 15px; 
        z-index: 1040; 
    }

    .navbar-side {
        width: 0;
        visibility: hidden;
    }

    .navbar-side.show {
        width: 100%;
        visibility: visible;
    }

    .main-content {
        margin-left: 0;
    }
}



@media screen and (max-width: 600px) {
    .main-content {
        margin-left: 0;
    }
}

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.suggestions-box {
    position: absolute; /* Posiciona dentro del contenedor relativo */
    border: 1px solid #ddd;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto; /* Permite desplazamiento si es necesario */
    z-index: 1050; /* Sobrepone a otros elementos */
    width: 100%; /* Alinea al ancho del input */
    top: 60px; /* Justo debajo del input */
    left: 0; /* Alineación izquierda con el input */
    display: none; /* Oculto inicialmente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 4px; /* Opcional: bordes redondeados */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.suggestion-item.active {
    background-color: #007bff;
    color: #fff;
}
